<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow mb-4">
  <div class="container-fluid">
    <a class="navbar-brand">Sistema CRUD</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactos" routerLinkActive="active">Contactos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/perfil" routerLinkActive="active">Mi Perfil</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="/tienda" routerLinkActive="active">Tienda ikea</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="/super-heroe" routerLinkActive="active">Super-heroe</a>
        </li>
              <li class="nav-item">
          <a class="nav-link" routerLink="/pokemonList" routerLinkActive="active">Pokemon</a>
        </li>
        
      </ul>
     <button class="btn btn-outline-danger btn-sm" (click)="logout()">
  Cerrar Sesión
</button>
    </div>
  </div>
</nav>